.about {
  display: flex;
  // margin-top: -15px;
  // margin-left: 15px;
}

.about__right {
  margin-top: 134px;
  width: 406px;
}

.about__pic {
  margin-right: 15px;
}

.about__title-h1 {
  @extend .title;
  color: #f9b43b;
  margin-bottom: 18px;
}

.about__title-h2 {
  color: #ffffff;
  font-family: Lifehack;
  font-size: 65px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.63px;
}