.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__title {
  @extend .title;
}

.description__list {
  margin-top: 38px;
  display: flex;
}

.description__item {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 36px; 

  &:last-child {
    margin-right: 0;
  }
}

.description__item-title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  margin-bottom: 18px;
}

.description__item-text {
  opacity: 0.8;
  color: #2f3234;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.description__item-picture--meat {
  margin-bottom: 30px;
  width: 97px; 
  height: 89px;
  background: url('../../images/sprites/description_sprites.png') -10px -10px;;
}

.description__item-picture--handmade {
  margin-bottom: 34px;
  width: 73px; 
  height: 85px;
  background: url('../../images/sprites/description_sprites.png') -10px -119px;
}

.description__item-picture--leaf {
  margin-bottom: 45px;
  width: 88px;
  height: 75px;
  background: url('../../images/sprites/description_sprites.png') -127px -10px;
}