.header {
  width: 100%;
  padding: 12px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.header__content {
  display: flex;
  justify-content: center;
}

.header__right {
  display: flex;
  margin-left: 50px;
}

.header__btns {
  margin-top: 15px
}