.scroll {
  // display: flex;
  // justify-content: center;
  // margin-bottom: 40px;
  position: fixed;
  top: 94.3%;
  left: 50%;
}

.scroll__picture {
  background: url('../../images/arrow-scroll.png');
  width: 29px;
  height: 14px; 
}