.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__icon {
  margin-bottom: rem(30px);

  @include phones {
    margin-right: rem(20px);
    width: 30%;
  }
}

.feature__logo {
  width: 90%;
  height: rem(100px);

  @include phones {
    position: static;
    transform: none;
  }
}

.feature--meat {
  fill:#E35028;
}

.feature--handmade {
  fill: #F9B43B;
}

.featuree--leaf {
  fill: #8BC03F;
}

.feature__desc {
  text-align: center;

  @include phones {
    text-align: left;
    display: block;
    width: 70%;
  }
}

.feature__title {
  @include lifehack();
  font-size: rem(24px);
  font-weight: rem(500px);
  margin-bottom: rem(18px);
}

.feature__text {
  font-size: rem(14px); 
}