.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__logo {
  margin-bottom: 30px;
}

.feature--meat {
  width: 97px; 
  height: 89px;
  background: url('../images/sprites/description_sprites.png') -10px -10px;
}

.feature--handmade {
  width: 73px; 
  height: 85px;
  background: url('../images/sprites/description_sprites.png') -10px -119px;
}

.featuree--leaf {
  width: 88px;
  height: 75px;
  background: url('../images/sprites/description_sprites.png') -127px -10px;
}

.feature__desc {
  text-align: center;
}

.feature__title {
  @include lifehack();
  font-size: 24px;
  font-weight: 500px;
  margin-bottom: 18px;
}

.feature__text {
  font-size: 14px; 
}