.nav {

  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__item {
  margin-right: rem(16px);
  display: flex;
  align-items: center;
  
  &:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: rem(15px);
  }

  &:last-child {
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}

.nav__link {
  font-weight: 500;
  line-height: rem(30px);
  font-size: rem(13px);
  color: #ffffff; 
  text-transform: uppercase;
}

