.points {
  position: fixed;
  top: rem(90px);
  right: rem(52px);
  z-index: 90;

  @include tablets {
    display: none;
  }
}

.points__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(16px);
  height: rem(16px);
  margin-bottom: rem(5px);
  border-radius: 50%; 
  transition: 1s;

  &:hover {
    border: rem(1px) solid #ffffff; 
  }

  &:after {
    content: "";
    width: rem(6px);
    height: rem(6px);
    background-color: #ffffff;
    border-radius: 50%;
  }

  &--active {
    border: rem(1px) solid #ffffff; 
    border-radius: 50%; 
  }
}