.section-title {
  font-size: 72px;
  @include  gagalin();
  line-height: 1;
  color: $yellow;

  &--color-black {
    color: #000;
  }

  &--centered {
    text-align: center;
  }

  &--home {
    margin-bottom: 23px;
  }

  &--description {
    margin-bottom: 45px;
  }

  &--color-white {
    color:#fff;
  }
}
