.section-title {
  font-size: rem(72px);
  @include  gagalin();
  line-height: 1;
  color: $yellow;

  &--color-black {
    color: #000;
  }

  &--centered {
    text-align: center;
  }

  &--home {
    margin-bottom: rem(23px);
  }

  &--description {
    margin-bottom: rem(45px);
  }

  &--color-white {
    color:#fff;
  }

  @include phones {
    font-size: rem(50px);
  }
}
