.header {
  display: flex;
  align-content: center;
	justify-content:space-between;
}

.header__left {
	z-index: 100;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: rem(8px);
}

.header__order-btn {
  margin-left: rem(15px);
}

.header__links {
  display: flex;
  position: relative;
}

.header-menu-link-wrapper {
  position: fixed;
  right: 1%;
}

.header-menu-link {
  vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
  margin-left: rem(30px);
  display: inline-flex;
	display: none;
  z-index: 120;

  @include tablets {
    display: flex;
  }
}

