.social {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(25px);
  margin-bottom: rem(22px);

  @include phones {
    margin-bottom: rem(18px);
    justify-content: center;
  }
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  transition: 0.3s;
  fill: #585858;

  &:hover {
    fill:#fff;
  }
}

.social__svg {
  width: rem(23px);
  height: rem(20px);
}